---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";
import { SITE, HOME } from "../consts";

const handles = [
  {
    uri: "https://x.com/byt3h3ad",
    label: "\u0058",
  },
  {
    uri: "https://www.linkedin.com/in/byt3h3ad",
    label: "LinkedIn",
  },
  {
    uri: "https://github.com/byt3h3ad",
    label: "GitHub",
  },
  {
    uri: "/about",
    label: "About",
  },
];
---

<Layout title={SITE.NAME} description={HOME.DESCRIPTION}>
  <main>
    <div class="flex h-screen">
      <div class="m-auto text-center p-2">
        <div class="inline-block">
          <h1 id="name">Adhiraj Dutta</h1>
          <h2 id="title">nerd, student, dev</h2>
        </div>
        <div class="h-6"></div>
        <ul class="text-center flex justify-center">
          {
            handles.map(({ uri, label }, idx) => (
              <li>
                <Social platform={uri} username={label} key={idx} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </main>
</Layout>

<style>
  html,
  body {
    @apply text-white;
    background-color: #000000;
  }

  #name,
  #title {
    letter-spacing: -0.06em;
  }

  #name {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    user-select: none;
  }

  #title {
    @apply text-2xl;
    font-weight: 600;
  }

  li {
    list-style: none;
    @apply px-2;
    border-right: 1px solid whitesmoke;
  }

  li:last-child {
    border-right: none;
  }

  /* https://github.com/kiding/wanna-see-a-whiter-white */

  /* WebKit */
  @supports (-webkit-backdrop-filter: blur(0)) {
    h1,
    h2,
    p {
      filter: brightness(10);
      -webkit-backdrop-filter: brightness(1);
    }
  }

  /* Blink */
  @supports (backdrop-filter: blur(0)) {
    h1,
    h2,
    p {
      filter: brightness(10);
      backdrop-filter: brightness(1);
    }
  }
</style>
